/*
Media queries are a CSS technique that lets you apply styles conditionally based on the device's characteristics or browser properties, such as screen size, resolution, or orientation.

They are essential for creating responsive web designs, enabling a website to adapt its layout and appearance for different devices like desktops, tablets, and smartphones.

How they work:

A media query contains two parts.

- A media type (screen)
- One or two more conditions (max-width: 600px)

If the conditions in the query are true, the associated styles are applied.
*/

@media screen and (max-width:600px){
  body{
    background-color: lightblue;
  }
}

/*
You can combine multiple conditions using and. For example these styles only apply when the screen is between 600px and 900px
*/

@media screen and (min-width: 600px) and (max-width:900px){
  .container{
    width: 80%;
  }
}

/*
Media queries can also detect the orientation of the deivce. 
*/

@media screen and (orientation: landscape){
  .sidebar{
    float: left;
    width: 30%;
  }
}
